<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

<h2>Welcome to test program SA03</h2>
<%- link_to("Activities", "activity", {class: "btn btn-default"}) %>
<%- link_to("Challenges", "challenge", {class: "btn btn-default"}) %>

<h4>Updated April 2016</h4>




