<h2>Activity Edit</h2>

<form method="POST">
<table class="table" style="width: 300px">
  <tr>
    <td>Name:</td>
    <td><input type="text" name="Activity[name]" value="<%= activity.name %>" /></td>
  </tr>
  <tr>
    <td>Type:</td>
    <td><input type="text" name="Activity[type]" value="<%= activity.type %>" /></td>
  </tr>
  <tr>
    <td>Points:</td>
    <td><input type="text" name="Activity[points]" value="<%= activity.points %>" /></td>
  </tr>
  <tr>
    <td><input type="submit"></td>
  </tr>
</table>
</form>

